.socials {
  position: sticky;
  z-index: 99998;
  width: 2em;
  left: 3em;
  bottom: 12%;
  margin-top: -136px;

  li {
    margin: 0.6em 0;
    border-radius: 50%;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    background: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 50%;

    &:hover {
      transition: all 0.1s linear;

      svg {
        fill: var(--color-white);
      }
    }
  }

  svg {
    width: 1.2em;
    fill: var(--color-sub-title);
    z-index: 4444;
  }

  li:nth-child(1):hover {
    a {
      background: var(--color-linkedin);
    }
  }

  li:nth-child(2):hover {
    position: relative;
    width: 100%;
    height: 100%;

    a {
      background-image: radial-gradient(circle at bottom left, var(--color-rd-yellow), var(--color-rd-red), var(--color-rd-pink));

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-image: radial-gradient(circle at top left, var(--color-rd-blue), var(--color-rd-blue-b), transparent);
      }
    }
  }

  li:nth-child(3):hover {
    a {
      background: var(--color-twitter);
    }
  }
}

@media (max-width: 830px) {
  .socials {
    left: 0.4em;
  }
}
