.carousel {
  position: relative;
  overflow: hidden;
}

.controller {
  display: block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.8s ease-in-out;
}

.panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}
