.aboute {
  padding: 4em;
  height: 100%;
  overflow: auto;

  h1 {
    font-family: "Rubik";
    color: var(--color-main-title);
    width: 180px;
    margin-bottom: 0.8em;
  }

  p {
    max-width: 500px;
    color: var(--color-text);
    font-size: 1.4em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;

    &::before {
      content: "";
      width: 88px;
      height: 3px;
      margin-top: 9px;
      background: var(--color-main-title);
      display: block;
    }
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8em;

  svg {
    width: 350px;
    height: 350px;
  }
}

.line {
  margin-bottom: 2em;

  h2 {
    color: var(--color-main-title);
    margin-bottom: 1em;
  }
}

.lineskill {
  margin-bottom: 12px;

  span {
    margin: 0 12px;
  }

  svg {
    width: 3em;
    height: 3em;
  }
}

.esxp {
  width: 100%;
  height: 30vh;
  cursor: pointer;
  padding-right: 1em;
  // overflow: auto;

  .cont {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1em;
    gap: 1em;
  }

  .pl {
    color: var(--color-main-title);
    font-weight: 500;
    width: 2.4em;
  }

  .sl {
    h3 {
      color: var(--color-main-title);
      margin-bottom: 8px;
    }

    span {
      color: var(--color-text);
    }
  }
}

.block:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin: 0 auto 3em;
  }
}

.info {
  width: 100%;
  background: #333;
  position: absolute;
  top: 4em;
  color: #fff;
  padding: 0.8em;
  border-radius: 12px;
  z-index: 50;
  word-wrap: break-word;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;

  p {
    font-size: 1em;
    color: #fff;
    justify-content: flex-start;

    &::before {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    width: 10px;
    height: 10px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    transform: rotate(46deg) translateY(-50%);
  }
}

.cont:hover .info {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 700px) {
  .aboute {
    h1 {
      padding-top: 1em;
      font-size: 2em;
    }
  }
}

@media (max-width: 500px) {
  .aboute {
    padding: 2em;
  }

  .content {
    flex-direction: column;
    gap: 4em;
  }

  .block {
    width: 100%;
  }

  .block:nth-child(2) {

    picture {
      width: 100%;
    }
  }

  .esxp {
    margin: 0 auto;
  }
}
