.aboute {
  padding: 4em;

  h1 {
    color: var(--color-main-title);
    width: 180px;
    border-bottom: 2px solid var(--color-main-title);
    margin-bottom: 1em;
  }

  p {
    max-width: 500px;
    color: #fff;
    font-size: 1.4em;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8em;

  svg {
    width: 26em;
  }
}
