.aboute {
  padding: 4em;
  height: 100%;
  overflow: auto;

  h1 {
    color: var(--color-main-title);
    width: 180px;
    margin-bottom: 0.8em;
  }

  p {
    max-width: 500px;
    color: var(--color-text);
    font-size: 1.4em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 18px;

    &::before {
      content: "";
      width: 52px;
      height: 3px;
      margin-top: 9px;
      background: var(--color-main-title);
      display: block;
    }
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8em;

  svg {
    width: 350px;
    height: 350px;
  }
}

.line {
  margin-bottom: 2em;

  h2 {
    color: var(--color-main-title);
    margin-bottom: 1em;
  }
}

.lineskill {
  margin-bottom: 12px;

  span {
    margin: 0 12px;
  }

  svg {
    width: 3em;
    height: 3em;
  }
}

.esxp {
  padding-right: 1em;

  .cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1em;
    gap: 1em;
  }

  .pl {
    color: var(--color-main-title);
    font-weight: 500;
    width: 2.4em;
  }

  .sl {
    h3 {
      color: var(--color-main-title);
      margin-bottom: 8px;
    }

    span {
      color: var(--color-text);
    }
  }
}

.block:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin: 0 auto 3em;
  }
}

.esxp {
  height: 30vh;
  overflow: auto;
  cursor: pointer;
}

@media (max-width: 500px) {
  .aboute {
    padding: 2em;
  }

  .content {
    flex-direction: column;
    gap: 4em;
  }

  .block {
    width: 100%;
  }
}
