.background {
  position: absolute;
  z-index: -1;
  width: min(70vw, 550px);
  height: min(70vw, 550px);
  background: linear-gradient(300deg, var(--color-background-w) 25%, var(--color-background) 80%);
  border-radius: 50%;

  span {
    position: absolute;
    z-index: -2;
    background: linear-gradient(300deg, var(--color-background-w) 25%, var(--color-background) 80%);
    border-radius: 50%;
  }

  span:nth-child(1) {
    left: -22%;
    bottom: -38%;
    width: min(24vw, 200px);
    height: min(24vw, 200px);
  }

  span:nth-child(2) {
    left: -53%;
    bottom: 20%;
    width: min(14vw, 120px);
    height: min(14vw, 120px);
  }

  span:nth-child(3) {
    right: -26%;
    bottom: -32%;
    width: min(10vw, 120px);
    height: min(10vw, 120px);
  }
}

@media (max-width: 1080px) {
  .background {
    span:nth-child(1) {
      left: -4%;
      bottom: -48%;
    }

    span:nth-child(2) {
      left: -23%;
      bottom: 10%;
    }

    span:nth-child(3) {
      right: -16%;
      bottom: -12%;
    }
  }
}
