.home {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  flex: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
}

.me {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  gap: 0.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.6em;
  background: var(--color-white);
  transform: translate3d(-80%, -118%, 0);
  box-shadow: inset 0px -14px 0 -10px var(--color-background-w),
    4px 5px 20px 0px var(--color-shadow);

  div {
    display: flex;
    flex-direction: column;

    span:nth-child(1) {
      font-size: 0.32em;
      color: var(--color-sub-title);
    }

    span:nth-child(2) {
      font-size: 0.8em;
      font-weight: 600;
    }
  }
}

.card {
  padding: 1em;
  background: var(--color-white);
  border-radius: 0.6em;
  color: var(--color-black);
  transform: translate3d(-214%, -12%, 0);
}

.circlecard {
  position: absolute;
  color: var(--color-black);
  text-align: center;
  font-weight: 600;

  figure {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    border-radius: 50%;
    margin-bottom: 0.4em;
  }
}

.c1 {
  transform: translate3d(314%, -199%, 0);

  figure {
    width: 6em;
    height: 6em;
  }

  svg {
    width: 4em;
  }
}

.c2 {
  transform: translate3d(313%, -64%, 0);

  figure {
    width: 9em;
    height: 9em;
    background: var(--color-blue);

    svg {
      width: 6em;
    }
  }
}

.c3 {
  transform: translate3d(585%, 56%, 0);

  figure {
    width: 4em;
    height: 4em;
  }

  svg {
    width: 2.4em;
  }
}
