.me {
  position: relative;
  padding: 1em;
  font-size: 4em;
  font-weight: 700;
  color: #fff;

  span {
    font-family: var(--font-family-title-section);
  }

  span:nth-child(2) {
    color: var(--color-main-title);
  }

  p:nth-child(1) {
    font-weight: 400;
  }

  p:nth-child(3) {
    font-weight: 300;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    gap: 12px;

    &::before {
      content: '';
      width: 22px;
      height: 6px;
      background: #fff;
    }
  }
}

@media (max-width: 500px) {
  .me {
    font-size: 3em;
  }
}
