.apresentation {
  min-height: 100vh;
  background: #1c1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.me {
  padding: 1em;
  font-size: 4em;
  font-weight: 700;
  color: #fff;

  span:nth-child(2) {
    color: var(--color-main-title);
  }

  p:nth-child(3) {
    font-weight: 300;
    font-size: 0.5em;
  }
}
