.contact {
  padding-top: 9em;
  position: relative;
  min-height: 80vh;
  overflow: hidden;
  text-align: center;
}

.mailmessage {
  margin: 4em auto;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;

  .primaryline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  textarea {
    margin-top: 1em;
    width: 100%;
    border-bottom: 1px solid var(--color-sub-title);
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
  }

  textarea::placeholder {
    color: var(--color-sub-title);
    font-weight: 600;
  }

  button {
    cursor: pointer;
    margin-top: 4em;
    padding: 0 2em;
    font-size: 1em;
    font-weight: 600;
    background: transparent;
    color: var(--color-blue);
    text-decoration: underline;
    text-decoration-color: var(--color-blue);
    text-decoration-thickness: 2px;
  }

  span {
    margin-top: 1em;
    color: var(--color-ok);
  }

  p {
    margin-top: 1em;
    color: var(--color-err);
  }
}

.methodcontact {
  max-width: 700px;
  margin: 4em auto;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    padding: 1.4em 2em 1.4em 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background: var(--color-wpbg);

    svg {
      width: 4em;
      height: 2em;
      fill: var(--color-wp);
    }
  }
}

.input {
  position: relative;
  margin: 2em 0;

  label,
  input {
    width: 100%;
    min-width: 250px;
    border-bottom: 1px solid var(--color-sub-title);
  }

  input {
    font-size: 1em;
    padding: 0.8em;
    font-weight: 500;
  }

  input:focus {
    border-bottom: 1px solid var(--color-black);
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px var(--color-wpbg) inset;
  }

  input::placeholder {
    color: transparent;
  }

  div {
    left: 0;
    top: 0.75em;
    position: absolute;
    transition: all 0.1s ease-in-out;
  }

  span {
    font-weight: 600;
    color: var(--color-sub-title);
  }

  input:not(:placeholder-shown)~div,
  input:focus~div {
    top: -1em;
  }

  input:not(:placeholder-shown)~div span:last-child,
  input:focus~div span:last-child {
    display: none;
  }

  span:last-child {
    color: var(--color-err);
  }
}

@media (max-width: 600px) {
  .methodcontact {
    margin: 3em 0;
  }

  .mailmessage {
    margin-top: 0;
  }

  .primaryline {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }
}
