.modal {
  position: absolute;
  inset: 0;
  z-index: 99999;
  background: #444444bb;
  display: none;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}

.active {
  position: absolute;
  display: flex;
  visibility: visible;
  pointer-events: all;
}

.content {
  position: relative;
  z-index: 999999;
  overflow: hidden;
}
