@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;900&display=swap');

:root {
  --color-background: #0E0E0E;
  --color-background2: #2d2d2efa;
  --color-main-title: #F7FDF8;
  --color-text: #B9B9B9;

  /* --color-blue: #30368E;
  --color-black: #181719;
  --color-background: #EDF2F8;
  --color-background-w: #D8E2EE;
  --color-sub-title: #6B7688;
  --color-border: #ADBACB;
  --color-white: #fff;
  --color-err: #F74848;
  --color-ok: #4C9237;
  --color-wp: #69C14F;
  --color-wpbg: #F2FFEE;
  --color-link: #4451FF;
  --color-shadow: #5B5C6C24;
  --color-shadow2: #F5F5F8E0;
  --color-text-sobpanel: #E2E2E2;
  --color-black-panel: #333333f5;
  --color-linkedin: #0A66C2;
  --color-twitter: #1D9BF0;

  --color-rd-yellow: #F9DC64;
  --color-rd-red: #FF553E;
  --color-rd-pink: #B5008E;
  --color-rd-blue: #3023AE;
  --color-rd-blue-b: #3023AE1f; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.8em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dad7d72c;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 3px;
}
