.footer {
  position: fixed;
  border-bottom: 0;
  padding: 2.6em 0;
  margin-top: -6em;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;

  li {
    float: left;
    margin: 0 2em;
  }
}

.section {
  position: relative;
  color: var(--color-main-title);
  font-weight: 500;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    width: 12px;
    height: 12px;
    visibility: none;
    background: var(--color-main-title);
    transform: scale3d(0, 0, 0);
    transition: transform 0.3s;
  }

}

.active {
  &::before {
    transform: scale3d(1, 1, 1);
  }
}


.main {
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
