@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  color: #181719;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  inset: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: #000000d7;
}

.open {
  display: flex;
}

.hidden {
  overflow: hidden;
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  bottom: 6%;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
