.footer {
  position: fixed;
  border-bottom: 0;
  margin-top: -5.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  z-index: 99999;

  nav {
    backdrop-filter: saturate(100%) blur(5px);
    border-radius: 12px;
  }

  li {
    float: left;
    margin: 0 1.4em;
  }

  a {
    padding: 1em 0.6em;
  }
}

.section {
  position: relative;
  color: var(--color-mn-footer);
  font-weight: 500;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    border-radius: 2px;
    top: 7px;
    width: 16px;
    height: 4px;
    visibility: none;
    background: var(--color-mn-footer);
    transform: scale3d(0, 0, 0);
    transition: transform 0.3s;
  }
}

.active {
  &::before {
    transform: scale3d(1, 1, 1);
  }
}

.main {
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
